
add color
#selected.box
= text_field_tag 'color'
%button#addcolor add
%button#clear clear

#colors
.clear


%br

add image
= text_field_tag 'url'
%button#addimg addimg
%button#imgclear clearimg
%br
%br
%br
%br


#backimage
  #canvas

#allimages
.clear