%table
  %tr
    %td
      add color
      %br
      %br
      = text_field_tag 'color'
      %br
      %button#addcolor add colour
      %button#clear clear
      %br
      %br
      %br
      %br
      %br
      #selected.box
      %br
      %br
      after adding a color, click to choose a color to paint with
      %br
      #colors
      .clear
    %td
      %br
      add image
      %br
      %br
      = text_field_tag 'url'
      %br
      %button#addimg add img url
      %button#img clear img
      %br
      %br
      after adding an img url, click a thumbnail to add behind your canvas!
      %br
      %br
      #allimages
      .clear
      #backimage
        #canvas
      %br
      scroll down for more painting space!

